/* <<<<<<< feature Emma */
.logo{
    height: 90px; 
    width: 90px;
}
#menu{
    width: 100%;
    border: 1px black solid;
}
li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    display: inline;
}
/* >>>>>>> feature/Ibrahima */
.connexionLabel{
    display:flex;
    background-color: #ee752c;
    height: 100px;
}
.valueLabel{
    color: white;
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 50%;
}

/* >>>>>>> feature/Anta */

#image{
width: 30%;
display: inline;
margin-top: 75px;
margin-right: 10%;
float: right;


}

#page{
    /* background-color:rgb(3,79,137);   */
    height: auto;
    overflow: hidden;
    width: 100%;
    border: 1px black solid;
}
/* >>>>>>> feature/LOMBATECH */
.formContainer{
    float: left;
    background-color: white;
    margin-left: 40px;
    width: 40%;
    position: absolute;
    top: 200px;
}
p{
	text-align: center;
}

button{
background-color: blue;
}
.inputSize{
margin: 20px;
height: 45px; 
width: 75%;
border-radius: 10px 10px 10px 10px;
}
.allLabels{
    margin: 40px;
}