<<<<<<< HEAD
.logo{
    height: 90px; 
    width: 90px;
}
li{
    display: inline;
    padding: 6px;
=======
.connexionLabel{
    display:flex;
    background-color: #ee752c;
}
.valueLabel{
    color: white;
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 50%;
>>>>>>> feature/Ibrahima
}